<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">后台管理</a>
            </li>
            <li>
                <a href="#">网站首页</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2> <i class="glyphicon glyphicon-user"></i>
                        医师信息
                    </h2>

                    <div class="box-icon">
                        <a href="#" class="btn btn-setting btn-round btn-default"> <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                        <a href="#" class="btn btn-close btn-round btn-default">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="DataTables_Table_0_length" class="dataTables_length">
                                    <label>
                                        <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                            <option value="10" selected="selected">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        records per page
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_filter" id="DataTables_Table_0_filter">
                                    <a class="btn btn-success" href="#">
                                        <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                        添加
                                    </a>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" style="width: 265px;">医生姓名</th>
                                    <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" aria-label="医生职位: activate to sort column ascending" style="width: 223px;">医生职位</th>
                                    <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" aria-label="医生介绍: activate to sort column ascending" style="width: 122px;">医生介绍</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 138px;">医生经历</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 138px;">医生头像</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"  style="width: 486px;">操作</th>
                                </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr class="odd">
                                    <td class=" sorting_1">Abdullah</td>
                                    <td class="center ">2012/02/01</td>
                                    <td class="center ">Staff</td>
                                    <td class="center ">Staff</td>
                                    <td class="center ">Staff</td>
                                    <td class="center ">
                                        <a class="btn btn-info" href="#">
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            编辑
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="glyphicon glyphicon-trash icon-white"></i>
                                            删除
                                        </a>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class=" sorting_1">Abraham</td>
                                    <td class="center ">2012/03/01</td>
                                    <td class="center ">Member</td>
                                    <td class="center ">Member</td>
                                    <td class="center ">Member</td>
                                    <td class="center ">
                                        <a class="btn btn-info" href="#">
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            编辑
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="glyphicon glyphicon-trash icon-white"></i>
                                            删除
                                        </a>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class=" sorting_1">Abdullah</td>
                                    <td class="center ">2012/02/01</td>
                                    <td class="center ">Staff</td>
                                    <td class="center ">Staff</td>
                                    <td class="center ">Staff</td>
                                    <td class="center ">
                                        <a class="btn btn-info" href="#">
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            编辑
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="glyphicon glyphicon-trash icon-white"></i>
                                            删除
                                        </a>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class=" sorting_1">Abraham</td>
                                    <td class="center ">2012/03/01</td>
                                    <td class="center ">Member</td>
                                    <td class="center ">Member</td>
                                    <td class="center ">Member</td>
                                    <td class="center ">
                                        <a class="btn btn-info" href="#">
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            编辑
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="glyphicon glyphicon-trash icon-white"></i>
                                            删除
                                        </a>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class=" sorting_1">Abdullah</td>
                                    <td class="center ">2012/02/01</td>
                                    <td class="center ">Staff</td>
                                    <td class="center ">Staff</td>
                                    <td class="center ">Staff</td>
                                    <td class="center ">
                                        <a class="btn btn-info" href="#">
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            编辑
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="glyphicon glyphicon-trash icon-white"></i>
                                            删除
                                        </a>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class=" sorting_1">Abraham</td>
                                    <td class="center ">2012/03/01</td>
                                    <td class="center ">Member</td>
                                    <td class="center ">Member</td>
                                    <td class="center ">Member</td>
                                    <td class="center ">
                                        <a class="btn btn-info" href="#">
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            编辑
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="glyphicon glyphicon-trash icon-white"></i>
                                            删除
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dataTables_info" id="DataTables_Table_0_info">显示x条信息中的第1-y条</div>
                            </div>
                            <div class="col-md-12 center-block">
                                <div class="dataTables_paginate paging_bootstrap pagination">
                                    <ul class="pagination">
                                        <li class="prev disabled">
                                            <a href="#">← 上一页</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li class="next">
                                            <a href="#">下一页 →</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/span--> </div>
</div>
<!--/#content.col-md-0-->