	<div class="container">
		<!-- left menu starts -->	
		<div class="col-sm-2 col-lg-2" style="margin-top:70px">
			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
					<ul class="nav nav-pills nav-stacked main-menu">
						<li>
							<a class="ajax-link" href="index"> <i class="glyphicon glyphicon-chevron-right"></i>
								<span>颌面外科</span>
							</a>
						</li>
						<li>
							<a class="ajax-link" href="ui"> <i class="glyphicon glyphicon-chevron-right"></i>
								<span>种植牙</span>
							</a>
						</li>
						<li>
							<a class="ajax-link" href="form">
								<i
                                    class="glyphicon glyphicon-chevron-right"></i>
								<span>牙齿矫正</span>
							</a>
						</li>
						<li>
							<a class="ajax-link" href="chart">
								<i class="glyphicon glyphicon-chevron-right"></i>
								<span>牙周治疗</span>
							</a>
						</li>
						<li>
							<a class="ajax-link" href="doctor">
								<i class="glyphicon glyphicon-chevron-right"></i>
								<span>综合齿科</span>
							</a>
						</li>
						<li>
							<a class="ajax-link" href="gallery">
								<i class="glyphicon glyphicon-chevron-right"></i>
								<span>儿童科</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- left menu ends -->	
		<!-- right menu starts -->	

		<div id="content" class="col-lg-10 col-sm-10">
			<!-- content starts -->	
			<div class="row">
				<div class="box col-md-12">
					<div class="box-inner">
						<div class="box-header">
							<h2>
								<i class="glyphicon glyphicon-arrow-right"></i>
								颌面外科
							</h2>

						</div>
						<div class="box-content">
							<ul class="news_list">
								<li>
									<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
									<span>2014-11-19</span>
								</li>
								<li>
									<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
									<span>2014-11-19</span>
								</li>
								<li>
									<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
									<span>2014-11-19</span>
								</li>
								<li>
									<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
									<span>2014-11-19</span>
								</li>
								<li>
									<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
									<span>2014-11-19</span>
								</li>
								<li>
									<a href="#" title="" >隐适美最新技术瑞尔香港之行</a>
									<span>2014-11-19</span>
								</li>

							</ul>

						</div>
					</div>
				</div>
				<!--/span-->	
			</div>
		</div>
		<!--/#content.col-md-0-->	
		<!-- right menu ends -->	

	</div>